@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
body{
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main{
    width: 100vw;
    height: 100vh;
    position: relative;
   
}
section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:  url(../imagens/frame-iphone.png) no-repeat;
    width: 311px;
    height: 627px;
}
iframe#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 471px;
}
section#redes-sociais{
    text-align: right;
}

section#redes-sociais img{
    width: 45px;
    margin: 9px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px black;
    box-sizing: border-box;
}
section#redes-sociais img:hover{
    border: 1.9px solid white;
    transform: translate(-3px, -3px);
    box-shadow: 10px 10px 26px black;
    transition: transform 0.3s, border.5s;
}